<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org/">

<body class="sb-nav-fixed">
<!-- 상단 네비게이션 바 -->
<nav class="sb-topnav navbar navbar-expand" th:fragment="admin_top">
  <button class="btn btn-link btn-lg order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle">
    <i class="fas fa-bars"></i>
</button>
    <!-- Navbar Brand-->
    <a class="navbar-brand" href="#">관리자 시스템</a>
    <!-- Sidebar Toggle-->
    <!-- Navbar Search-->
    <span class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group">
            관리자님 환영합니다.
        </div>
    </span>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-user fa-fw"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">내 정보</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="#">로그아웃</a></li>
            </ul>
        </li>
    </ul>
</nav>
</body>
</html>